{% load staticfiles %}
<script type="text/javascript" src="{% static 'finance/js/menu.js' %}"></script>
<ul class="collection">
    <li class="collection-item"><a href="{% url 'finance:accounts_view' %}">Главная</a></li>
    <li class="collection-item"><a href="">Счета</a></li>
    <li>
        <div class="row">
            <div class="col s9">
                <ul class="tabs">
                    <li class="tab col s2"><a class="blue-text active" href="#own_accounts" >Мои</a></li>
                    <li class="tab col s2"><a class="blue-text" href="#shared">Открытые</a></li>
                </ul>
            </div>
            <div id="own_accounts" class="col s8">Test 1</div>
            <div id="shared" class="col s8">Test 2</div>
        </div>
    </li>
    <li><div class="divider"></div></li>
    <li class="collection-item"><a href="{% url 'finance:profile' %}">Настройки</a></li>

</ul>