{% extends 'finance/base.html' %}
{% load staticfiles %}
{% block tittle %}Счета{% endblock %}
{% block content %}

    <table class="bordered highlight" >
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{% include "finance/elements/account_preview.html" with account=account %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large blue" id="btn_link">
      <i class="large material-icons">add</i>
    </a>
  </div>
    <script>
        $(document).ready(function () {
            $("#create_form").hide();
            $("#btn_link").on('click', function () {
                $("#create_form").fadeIn();
            });
            $(document).mousedown(function (e) {
                var container = $(".post-form");
                if (!container.is(e.target) // если клик был не по нашему блоку
                    && container.has(e.target).length === 0) { // и не по его дочерним элементам
                    $("#create_form").hide();
                }
            });
        })
    </script>

        <div class="row" id="create_form" style=" width:100%; min-height:100%;
                overflow:visible;
                position:fixed;
                top:0;">
            <div class="col s4"  style="left: 30%; top:20%; position:fixed;">
                <div class="card z-depth-2">
                    <div class="card-header  blue darken-1">
                        <nav>
                                <div class="nav-wrapper  blue darken-1">
                                    <div class="col s12" style="padding-left:30px">
                                        <a class="breadcrumb  blue darken-1 center-align">Добавить счет</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    <div class="card-content">
                    <form method="POST" class="post-form">{% csrf_token %}
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default blue darken-1">Добавить</button>
                    </form>
                        </div>
                </div>
            </div>
        </div>
{% endblock %}