{% extends 'finance/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col s2"></div>
    <div class="col">
        <p>Логин: {{ name }}</p>
        <p>Адрес: {{ address }}</p>
        <p>Электронная почта: {{ email }}</p>
        <p>Номер телефона: {{ phone_number }}</p>
        <a href = "{% url 'finance:profile_form' id=id %}">Изменить профиль</a>
        <br>
        <a href = "{% url 'finance:change_login_password' %}">Изменить логин и пароль</a>
    </div>
</div>
{% endblock %}